
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_productlayout.cshtml";
}

@{

    int totalitems = 0;
    decimal totalcartprice = 0;
    List<Rachna.Teracotta.Project.Source.Models.Carts> _cart = null;

    Rachna.Teracotta.Project.Source.ViewModel.CartModel _cartMdl = new Rachna.Teracotta.Project.Source.ViewModel.CartModel();
    _cart = _cartMdl.GetCarts();
    totalitems = _cart.Count;
    foreach (var item in _cart)
    {
        totalcartprice = totalcartprice + (item.Cart_Price);
    }

}

<!--XXXXXXXXXX-- Wrapper-breadcrumbs --XXXXXXXXXX-->
<div class="wrapper-breadcrumbs clearfix">
    <div class="container">
        <div class="spacer30"></div><!--spacer-->
        <div class="breadcrumbs-main clearfix">
            <h2>Shopping Cart</h2>
            <ul>
                <li><a href="/">Home</a><span class="separator">/ </span></li>
                <li><strong>Shopping Cart</strong></li>
            </ul>
        </div>
        <div class="spacer15"></div><!--spacer-->
    </div>
</div>
<!--XXXXXXXXXX-- End Wrapper-breadcrumbs --XXXXXXXXXX-->
<!--XXXXXXXXXX-- Start Wrapper Main XXXXXXXXXX-->
<div class="wrapper-main brandshop clearfix">
    <div class="spacer15"></div><!--spacer-->
    <div class="container">
        <div class="inner-block">
            <!------Main Inner-------->
            <div class="row">
                <div class="cart-main">
                    <!-- Shopping Cart -->
                    <div class="col-md-12">
                        <div class="cart-control clearfix">
                            @if (_cart != null)
                            {
                                if (_cart.Count > 0)
                                {
                                    <table class="table cart-table">
                                        <thead>
                                            <tr>
                                                <th class="table-title">Product Name</th>
                                                <th class="table-title">Product Code</th>
                                                <th class="table-title">Unit Price</th>
                                                <th class="table-title">Quantity</th>
                                                <th class="table-title">SubTotal</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in _cart)
                                            {
                                                <tr>
                                                    <td class="product-name-col">
                                                        <figure>
                                                            <a href="/product/index?id=@item.Product_Id">
                                                                <img src="../../@item.Product_Banner" alt="Product image big">
                                                            </a>

                                                        </figure>
                                                        <h2 class="product-name">
                                                            <a href="/product/index?id=@item.Product_Id">@item.Product_Title</a>
                                                        </h2>
                                                        <ul>
                                                            <li><span>Size:</span> @item.Cart_Size</li>
                                                        </ul>
                                                    </td>
                                                    <td class="product-code">@item.Product_Id</td>
                                                    <td class="product-code">@item.Product_Price</td>
                                                    <td>
                                                        <div class="custom-quantity-input">
                                                            <span>@item.Cart_Qty</span>
                                                        </div>
                                                    </td>
                                                    <td class="product-total-col">
                                                        <span class="product-price-special">@(item.Cart_Qty * item.Product_Price)</span>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <div class="spacer15"></div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <label></label>
                                        </div><!-- End .col-md-8 -->
                                        <div class="col-md-4">
                                            <table class="table total-table">
                                                <tbody>
                                                    <tr>
                                                        <td class="total-table-title">Subtotal:</td>
                                                        <td>@totalcartprice</td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td>Total:</td>
                                                        <td>@totalcartprice</td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                            <div class="md-margin"></div><!-- space -->
                                            <div class="text-right">
                                                <a href="/user/checkoutconfirm" class="btn btn-custom btn-lger min-width-sm">Confirm Your Order</a>
                                            </div>
                                        </div><!-- End .col-md-4 -->
                                    </div><!-- End .row -->
                                }
                                else
                                {
                                    <p style="color:red">
                                        No Carts In Your Item
                                    </p>
                                }
                            }
                            else
                            {
                                <p style="color:red">
                                    No Carts In Your Item
                                </p>
                            }
                        </div>
                    </div>
                </div><!-- End Shopping Cart -->
            </div>
        </div>
    </div>
    <div class="spacer30"></div><!--spacer-->
</div>
<!-------------- End wrapper main -------------->
