
@{
    ViewBag.Title = "My Shopping Cart";
    Layout = "~/Views/Shared/_productlayout.cshtml";


    List<Rachna.Teracotta.Project.Source.Models.Carts> _cart = null;
    Rachna.Teracotta.Project.Source.ViewModel.CartModel _cartMdl = new Rachna.Teracotta.Project.Source.ViewModel.CartModel();
    _cart = _cartMdl.GetCarts();

    int totalitems = 0;
    decimal totalsubtotal = 0;
    decimal totalshippingcharge = 0;
    decimal totaltotal = 0;

    if (_cart.Count > 0)
    {
        totalitems = _cart.Count;
        foreach (var item in _cart)
        {
            totalsubtotal = totalsubtotal + item.Cart_Price;
            totalshippingcharge = totalshippingcharge + item.Shipping_Charge;
        }
        totaltotal = totalsubtotal + totalshippingcharge;
    }

}

<!-- Breadcrumb Area -->
<div class="breadcrumb-area bg-grey">
    <div class="container">
        <div class="ho-breadcrumb">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/user/">Shop</a></li>
                <li>Shopping Cart</li>
            </ul>
        </div>
    </div>
</div>
<!--// Breadcrumb Area -->
<!-- Shopping Cart Area -->
<div class="cart-page-area ptb-30 bg-white">
    <div class="container">
        @if (_cart != null && _cart.Count > 0)
        {
            <!-- Cart Products -->
            <div class="cart-table">
                <table class="table table-bordered table-hover mb-0">
                    <thead>
                        <tr>
                            <th class="cart-column-image" scope="col">IMAGE</th>
                            <th class="cart-column-productname" scope="col">PRODUCT</th>
                            <th class="cart-column-price" scope="col">PRICE</th>
                            <th class="cart-column-quantity" scope="col">QUANTITY</th>
                            <th class="cart-column-productname" scope="col">SIZE</th>
                            <th class="cart-column-total" scope="col">TOTAL</th>
                            <th class="cart-column-remove" scope="col">REMOVE</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in _cart)
                        {
                            <tr>
                                <td>
                                    <a href="/product/index?id=@item.Product_Id" class="product-image">
                                        <img src="../../@item.Product_Banner" alt="Product image big">
                                    </a>
                                </td>
                                <td>
                                    <a href="/product/index?id=@item.Product_Id" class="product-title">@item.Product_Title</a>
                                </td>
                                <td>@Math.Round(item.Product_Price)</td>
                                <td>
                                    <select id="selQty" prdId="@item.Product_Id" class="form-control" style="width:300px">
                                        <option>@item.Cart_Qty</option>
                                        @for (int i = 1; i <= item.Products.Product_Max_Purchase; i++)
                                        {
                                            <option>@i</option>
                                        }
                                    </select>
                                    <script type="text/javascript">
                                        $('#selQty').on('change', function (e) {
                                            window.location = '/user/updateqty?id=' + $(this).attr("prdId") + "&qty=" + $(this).val() + "&size=0";
                                        });
                                    </script>
                                </td>
                                <td>
                                    @if (item.Products.Product_Has_Size)
                                    {
                                        <select name="size" prdId="@item.Product_Id" class="form-control" id="selSize" style="width:300px">
                                            @{
                                                string[] values = item.Products.Product_Size.Split(',');
                                                for (int i = 0; i < values.Length; i++)
                                                {
                                                    <option>@values[i].Trim()</option>
                                                }
                                            }
                                        </select>
                                        <script type="text/javascript">
                                                    $(function () {
                                                        $("#selSize").val(@item.Cart_Size).attr("selected", "selected");
                                                    });

                                                    $('#selSize').on('change', function (e) {
                                                        window.location = '/user/updateqty?id=' + $(this).attr("prdId") + "&qty=0&size=" + $(this).val();
                                                    });
                                        </script>
                                    }
                                    else
                                    {
                                        <h1>NA</h1>
                                    }
                                </td>
                                <td>
                                    <span class="total-price">@Math.Round(item.Cart_Qty * item.Product_Price)</span>
                                </td>
                                <td>
                                    <a href="/user/deletecart/@item.Product_Id" class="remove-product"><i class="ion ion-ios-close"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!--// Cart Products -->
            <!-- Cart Content -->
            <div class="cart-content">
                <div class="row justify-content-between">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="cart-content-left">
                            <div class="cart-content-coupon">
                                <h6>COUPON</h6>
                                <p>Enter your coupon code if you have one.</p>
                                <form action="#" class="coupon-form">
                                    <input type="text" placeholder="Coupon code">
                                    <button class="ho-button">
                                        <span>Apply Coupon</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="cart-content-right">
                            <h2>CART TOTALS</h2>
                            <table class="cart-pricing-table">
                                <tbody>
                                    <tr class="cart-subtotal">
                                        <th>SUBTOTAL</th>
                                        <td>&#x20B9; @Math.Round(totalsubtotal)</td>
                                    </tr>
                                    <tr class="cart-shipping">
                                        <th>SHIPPING</th>
                                        <td>&#x20B9; @Math.Round(totalshippingcharge)</td>
                                    </tr>
                                    <tr class="cart-total">
                                        <th>Total</th>
                                        <td>&#x20B9; @Math.Round(totaltotal)</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="/user/checkout?pageId=hjhgjgjgjgjhj234j2hgj234j2g2j35gj345gj34GUIDHHJF&redirect-url=checkout" class="ho-button">
                                <span>Proceed to Checkout</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--// Cart Content -->
        }
        else
        {
            <div class="checkout-info">
                No items in your cart....
            </div>
        }
    </div>
</div>
<!--// Shopping Cart Area -->
