@model Rachna.Teracotta.Project.Source.Models.Customers

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_productlayout.cshtml";
}


<div class="breadcrumb-area bg-grey">
    <div class="container">
        <div class="ho-breadcrumb">
            <ul>
                <li><a href="/">Home</a></li>
                <li>Login/Register</li>
            </ul>
        </div>
    </div>
</div>

<div>
    @if (ViewBag.Message != null)
    {
        <label style="color:red;font-weight:bold">@ViewBag.Message</label>
    }
</div>

<div class="my-account-area ptb-30">
    <div class="container">
        <div class="row">

            <!-- Login Form -->
            <div class="col-lg-6">
                <div class="login-form-wrapper">

                    <form action="/user/loginuser" class="ho-form ho-form-boxed">
                        <div class="ho-form-inner">
                            <div class="single-input">
                                <label for="Customers_EmailId">Username or email address *</label>
                                <input type="text" id="Customers_EmailId" required name="Customers_EmailId" value="@Model.Customers_EmailId">
                            </div>
                            <div class="single-input">
                                <label for="Customers_Password">Password *</label>
                                <input type="password" id="Customers_Password" required name="Customers_Password">
                            </div>
                            <div class="single-input">
                                <button type="submit" class="ho-button ho-button-dark mr-3">
                                    <span>Login</span>
                                </button>
                                <div class="checkbox-input">
                                    <input type="checkbox" name="login-form-remember" id="login-form-remember">
                                    <label for="login-form-remember">Remember me</label>
                                </div>
                            </div>
                            <div class="single-input">
                                <a href="#">Lost your password?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--// Login Form -->
            <!-- Register Form -->
            <div class="col-lg-6 mt-30 mt-lg-0">
                <div class="login-form-wrapper">
                    <form action="#" class="ho-form ho-form-boxed">
                        <div class="ho-form-inner">
                            <div class="single-input">
                                <label for="register-form-name">Username</label>
                                <input type="text" name="register-form-name" id="register-form-name">
                            </div>
                            <div class="single-input">
                                <label for="register-form-email">Email address</label>
                                <input type="text" name="register-form-email" id="register-form-email">
                            </div>
                            <div class="single-input">
                                <label for="register-form-password">Password</label>
                                <input type="password" name="register-form-password" id="register-form-password">
                            </div>
                            <div class="single-input">
                                <button type="submit" class="ho-button ho-button-dark">
                                    <span>Register</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--// Register Form -->

        </div>
    </div>
</div>



<div class="wrapper-main brandshop clearfix">
    <div class="spacer30"></div><!--spacer-->
    <div class="container">
        <div class="inner-block">
            <!------Main Inner-------->
            <div class="row">
                <div class="sign-main">
                    <!-- Start Sign -->
                    <div class="sign-details clearfix">
                        <!-- Start Form -->
                        <div class="col-sm-6 contact-form">
                            <div class="sign-block">
                                <h4>Login</h4>
                                <p class="mb15">
                                    @if (ViewBag.Message != null)
                                    {
                                        <label style="color:red;font-weight:bold">@ViewBag.Message</label>
                                    }
                                </p>
                                <form action="/user/loginuser">
                                    <ul>
                                        <li class="form-group">
                                            <label for="CustomerId">Email Address <span>*</span></label>
                                            <input type="text" id="CustomerId" class="form-control" required name="Customers_EmailId" value="@Model.Customers_EmailId">
                                        </li>
                                        <li class="form-group">
                                            <label for="Password">Password <span>*</span></label>
                                            <input type="password" id="Password" class="form-control" required name="Customers_Password">
                                        </li>
                                        <li class="form-group">
                                            <label><input type="radio" value="" />Remember me!<span>*</span></label>
                                            <a class="pull-right" href="#">Forgot your Password?</a>
                                        </li>
                                        <li>
                                            <button type="submit" class="btnLoginCustomer btn">Login</button>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                        <div class="col-sm-6 contact-form">
                            <div class="new-account">
                                <div class="sign-block">
                                    <h4>Create new account</h4>
                                    <form action="/user/signup/">
                                        <ul>
                                            <li class="form-group">
                                                <label for="FirstName">Full Name<span>*</span></label>
                                                <input type="text" id="FirstName" class="form-control" name="Customers_FullName" value="@Model.Customers_FullName" required>
                                            </li><!-- End .form-group -->
                                            <li class="form-group">
                                                <label for="EmailId">EmailId<span>*</span></label>
                                                <input type="email" id="EmailId" class="form-control" name="Customers_EmailId" value="@Model.Customers_EmailId" required>
                                            </li><!-- End .form-group -->
                                            <li class="form-group">
                                                <label for="Phone">Phone<span>*</span></label>
                                                <input type="number" id="Phone" class="form-control" name="Customers_Phone" value="@Model.Customers_Phone" required>
                                            </li><!-- End .form-group -->
                                            <li class="form-group">
                                                <label for="password">Password<span>*</span></label>
                                                <input type="password" id="password" class="form-control" name="Customers_Password" required>
                                            </li><!-- End .form-group -->
                                            <li class="form-group">
                                                <label for="confirm_password">Confirm Password<span>*</span></label>
                                                <input type="password" id="confirm_password" class="form-control" name="ConfirmPassword" required>
                                            </li><!-- End .form-group -->

                                            <li>
                                                <button type="submit" class="btnLoginCustomer btn">REGISTER</button>
                                            </li>
                                        </ul>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Form -->
                </div><!-- End Sign -->
            </div>
        </div>
    </div>
    <div class="spacer30"></div><!--spacer-->
</div>
<!-------------- End wrapper main -------------->

<script type="text/javascript">
    var password = document.getElementById("password")
        , confirm_password = document.getElementById("confirm_password");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>

