
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Rachna.Teracotta.Project.Source.ViewModel.HomeModel HomePageData = new Rachna.Teracotta.Project.Source.ViewModel.HomeModel();
    Rachna.Teracotta.Project.Source.ViewModel.HomePageModelData HomePData = new Rachna.Teracotta.Project.Source.ViewModel.HomePageModelData();
    HomePageData = HomePData.GetHomeModel();
}

<div class="wrapper-slider clearfix">
    <div class="spacer30"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 category">
                @Html.Partial("components/_category")
            </div>
            <!---------Slider block----------->
            <div class="col-md-6 col-sm-8 slider-main">
                <div class="b_silde clearfix">
                    @Html.Partial("components/_slider")
                    <div class="deal-product">
                        <h4 class="heading">Best sale of the week</h4>
                        <div class="owl-carousel week-deal item-block">
                            @Html.Partial("components/_featured")
                        </div>
                    </div>
                    <!--End deal product slider-->
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="s-right-block clearfix">
                    @if (HomePageData._ads != null && HomePageData._ads.Count > 0)
                    {
                        Rachna.Teracotta.Project.Source.Models.Ads Ads = HomePageData._ads.Where(m => m.Ads_Type == "Advertisement 1").FirstOrDefault();
                        if (HomePageData._ads.Count > 0 && Ads != null)
                        {
                            var add_type = Ads.Ads_Type;
                            if (add_type == "Advertisement 1")
                            {
                                <a href="@Ads.Ads_RedirectUrl">
                                    <img src="../@Ads.Ads_Banner_Or_Source" alt="" />
                                </a>
                            }
                        }
                    }
                    <div class="customer-choice">
                        <!-- Choice Product-->
                        <h4 class="heading">Rachna's Choice</h4>
                        @if (HomePageData._featureOurChoice != null)
                        {
                            foreach (var item in HomePageData._featureOurChoice)
                            {
                                <div class="choice-product clearfix">
                                    <a href="/product/index?id=@item.Product_Id&title=@item.Product.Product_Title">
                                        <div class="choice-images">
                                            <img src="@item.Product.ProductBanner.Where(m => m.Product_Banner_Default == 1).FirstOrDefault().Product_Banner_Photo" alt="" />
                                        </div>
                                        <div class="choice-text">
                                            <h5>
                                                @if (item.Product.Product_Title.Length > 20)
                                                {
                                                    @item.Product.Product_Title.Substring(0, 17)<b>...</b>
                                                }
                                                else
                                                {
                                                    @item.Product.Product_Title
                                                }
                                            </h5>
                                            <span>&#x20B9;@Math.Round(item.Product.Product_Our_Price)</span>
                                        </div>
                                    </a>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--------------End slider and categories-------------->
<div class="spacer30"></div><!--spacer-->
<!--------------Start wrapper main-------------->
<div class="wrapper-main">
    <!-------------- Start banner block -------------->
    <div class="banner-block clearfix">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    @if (HomePageData._ads != null && HomePageData._ads.Count > 0)
                    {
                        Rachna.Teracotta.Project.Source.Models.Ads Ads = HomePageData._ads.Where(m => m.Ads_Type == "Advertisement 2").FirstOrDefault();
                        if (HomePageData._ads.Count > 0 && Ads != null)
                        {
                            var add_type = Ads.Ads_Type;
                            if (add_type == "Advertisement 2")
                            {
                                <a href="@Ads.Ads_RedirectUrl">
                                    <img src="../@Ads.Ads_Banner_Or_Source" alt="" />
                                </a>
                            }
                        }
                    }
                </div>
            </div>
        </div>
        <div class="spacer30"></div><!-- Spacer -->
    </div>
    <!-------------- End banner -------------->
    <!--------------Womens products-------------->
    <div class="product-wrapper clearfix">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="product clearfix">
                        <h4 class="heading">
                            <span>Rachna Studio</span>
                        </h4>
                        @if (HomePageData._subRachnaStudio != null && HomePageData._subRachnaStudio.Count > 0)
                        {
                            <div class="product-category">
                                <input type="hidden" id="hdndefCatRachnaValue" value="@HomePageData._subRachnaStudio[0].SubCategory_Id" />
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="active">
                                        <h4 class="heading">
                                            <a class="tab-arrow" role="tab" data-toggle="tab" href="#women-product-0">Rachna Studio Products</a>
                                        </h4>
                                    </li>
                                    @{
                                        if (HomePageData._subRachnaStudio != null)
                                        {
                                            if (HomePageData._subRachnaStudio.Count > 0)
                                            {
                                                for (int i = 0; i < HomePageData._subRachnaStudio.Count; i++)
                                                {
                                                    <li>
                                                        <a class="small menu-icons clothing hrfRachnaSubCatId" catId="@HomePageData._subRachnaStudio[i].SubCategory_Id" style="cursor:pointer"><i class="fa fa-shirtsinbulk"></i>@HomePageData._subRachnaStudio[i].SubCategory_Title</a>
                                                    </li>
                                                }
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="product-contant clearfix">
                                <div class="product-banner">
                                    <a href="#">
                                        <img src="../appfiles/frontend/images/banner/women-img-1.jpg" alt="" />
                                    </a>
                                    <div class="banner-link">
                                        <a href="#">
                                            <i class="fa fa-shopping-bag"></i>
                                            Shop Now
                                        </a>
                                    </div>
                                </div>
                                <div class="product-block clearfix">
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active" id="women-product-0">
                                            <div class="item-block clearfix">
                                                <div id="RachnaContainer"></div>
                                                <script id="RachnaTemplate" type="text/x-jQuery-tmpl">
                                                    <div class="product-item">
                                                        <ul class="products-row">
                                                            <li class="image-block">
                                                                {{if DiscountPrice == "0"}}
                                                                <span></span>
                                                                {{else}}
                                                                <span class="pro offer">${DiscountPrice}% Off</span>
                                                                {{/if}}
                                                                <a href="/product/index?id=${Id}"><span><img src="../${Banner}" alt="" /></span></a>
                                                                <a class="add-to-cart" href="/cart/addtocart?id=${Id}&qty=1&size=0">Add to cart</a>
                                                            </li>
                                                            <li class="products-details">
                                                                <a href="/product/index?id=${Id}">
                                                                    ${Title}
                                                                </a>
                                                                <span>&#x20B9;${TotalPrice}</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </script>
                                            </div>

                                            <script type="text/javascript">

                                                $(".hrfRachnaSubCatId").click(function () {
                                                    $("#hdndefCatRachnaValue").val("");
                                                    $.ajax({
                                                        type: 'GET',
                                                        url: '/home/GetProductsBySubCat',
                                                        data: { id: $(this).attr("catId") },
                                                        cache: false,
                                                        success: function (result) {
                                                            $("#RachnaContainer").html('');
                                                            $("#RachnaTemplate").tmpl(result).appendTo("#RachnaContainer");
                                                        }
                                                    });
                                                });

                                                if ($("#hdndefCatRachnaValue").val() != "") {
                                                    $.ajax({
                                                        type: 'GET',
                                                        url: '/home/GetProductsBySubCat',
                                                        data: { id: $("#hdndefCatRachnaValue").val() },
                                                        cache: false,
                                                        success: function (result) {
                                                            $("#RachnaTemplate").tmpl(result).appendTo("#RachnaContainer");
                                                        }
                                                    });
                                                }

                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer30"></div><!--spacer-->
    </div>
    <!-------------- End womens wroducts -------------->
    <!-------------- Mens products -------------->
    <div class="product-wrapper clearfix">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="product clearfix">
                        <h4 class="heading">
                            <span>Clothings</span>
                        </h4>
                        @if (HomePageData._subClothings != null && HomePageData._subClothings.Count > 0)
                        {
                            <div class="product-category">
                                <input type="hidden" id="hdndefCatClothingValue" value="@HomePageData._subClothings[0].SubCategory_Id" />
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="active">
                                        <h4 class="heading">
                                            <a class="tab-arrow" role="tab" data-toggle="tab" href="#men-product-0">All Clothings</a>
                                        </h4>
                                    </li>
                                    @foreach (var item in HomePageData._subClothings)
                                    {
                                        <li>
                                            <a class="small menu-icons clothing hrfClothingSubCatId" catId="@item.SubCategory_Id" style="cursor:pointer"><i class="fa fa-shirtsinbulk"></i>@item.SubCategory_Title</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class="product-contant clearfix">
                                <div class="product-banner">
                                    <a href="#">
                                        <img src="../appfiles/frontend/images/banner/men-img-1.jpg" alt="" />
                                    </a>
                                    <div class="banner-link">
                                        <a href="#">
                                            <i class="fa fa-shopping-bag"></i>
                                            Shop Now
                                        </a>
                                    </div>
                                </div>
                                <div class="product-block clearfix">
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active" id="men-product-0">
                                            <div class="item-block clearfix">
                                                <div id="ClothingContainer"></div>
                                                <script id="ClothingTemplate" type="text/x-jQuery-tmpl">
                                                    <div class="product-item">
                                                        <ul class="products-row">
                                                            <li class="image-block">
                                                                {{if DiscountPrice == "0"}}
                                                                <span></span>
                                                                {{else}}
                                                                <span class="pro offer">${DiscountPrice}% Off</span>
                                                                {{/if}}
                                                                <a href="/product/index?id=${Id}"><span><img src="../${Banner}" alt="" /></span></a>
                                                                <a class="add-to-cart" href="/cart/addtocart?id=${Id}&qty=1&size=0">Add to cart</a>
                                                            </li>
                                                            <li class="products-details">
                                                                <a href="/product/index?id=${Id}">
                                                                    ${Title}
                                                                </a>
                                                                <span>&#x20B9;${TotalPrice}</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </script>
                                            </div>
                                            <script type="text/javascript">

                                                $(".hrfClothingSubCatId").click(function () {
                                                    $("#hdndefCatClothingValue").val("");
                                                    $.ajax({
                                                        type: 'GET',
                                                        url: '/home/GetProductsBySubCat',
                                                        data: { id: $(this).attr("catId") },
                                                        cache: false,
                                                        success: function (result) {
                                                            $("#ClothingContainer").html('');
                                                            $("#ClothingTemplate").tmpl(result).appendTo("#ClothingContainer");
                                                        }
                                                    });
                                                });

                                                if ($("#hdndefCatClothingValue").val() != "") {
                                                    $.ajax({
                                                        type: 'GET',
                                                        url: '/home/GetProductsBySubCat',
                                                        data: { id: $("#hdndefCatClothingValue").val() },
                                                        cache: false,
                                                        success: function (result) {
                                                            $("#ClothingTemplate").tmpl(result).appendTo("#ClothingContainer");
                                                        }
                                                    });
                                                }

                                            </script>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer30"></div><!--Spacer-->
    </div>
    <!-------------- End mens products -------------->
    <!-------------- Start banner block -------------->
    <div class="banner-block clearfix">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    @if (HomePageData._ads != null && HomePageData._ads.Count > 0)
                    {
                        Rachna.Teracotta.Project.Source.Models.Ads Ads = HomePageData._ads.Where(m => m.Ads_Type == "Advertisement 3").FirstOrDefault();
                        if (HomePageData._ads.Count > 0 && Ads != null)
                        {
                            var add_type = Ads.Ads_Type;
                            if (add_type == "Advertisement 3")
                            {
                                <a href="@Ads.Ads_RedirectUrl">
                                    <img src="../@Ads.Ads_Banner_Or_Source" alt="" />
                                </a>
                            }
                        }
                    }
                    </a>
                </div>
            </div>
        </div>
        <div class="spacer30"></div><!-- spacer -->
    </div>
    <!-------------- Start sellers -------------->
    <div class="sellers clearfix">
        <div class="container">
            <div class="seller-block">
                <div class="row">
                    <h4 class="heading">Top Sellers In</h4>
                    @{
                        if (HomePageData._prdeight != null)
                        {
                            foreach (var item in HomePageData._prdeight)
                            {
                                <div class="col-sm-3">
                                    <div class="choice-product clearfix">
                                        <a href="/product/index?id=@item.Product_Id&title=@item.Product.Product_Title">
                                            <div class="choice-images">
                                                <img src="../@item.Product.ProductBanner.Where(m => m.Product_Banner_Default == 1).FirstOrDefault().Product_Banner_Photo" alt="" style="height:60px" />
                                            </div>
                                            <div class="choice-text">
                                                <h5>
                                                    @if (item.Product.Product_Title.Length > 20)
                                                    {
                                                        @item.Product.Product_Title.Substring(0, 17)<b>...</b>
                                                    }
                                                    else
                                                    {
                                                        @item.Product.Product_Title
                                                    }
                                                </h5>
                                                <span>
                                                    &#x20B9;@Math.Round(item.Product.Product_Our_Price)
                                                </span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="spacer30"></div>
    <div class="container">
        <div class="deal-product">
            <h4 class="heading">Proud Partners</h4>
            <div class="owl-carousel week-deal item-block">
                @foreach (var item in HomePageData._stores)
                {
                    <div class="product-item">
                        <ul class="products-row">
                            <li class="image-block">
                                <a href="/home/ProductByStore?storeId=@item.Store_Id&title=@item.Store_Name">
                                    <img src="../@item.Store_Logo" alt="Product Image">
                                </a>
                            </li>
                            <li class="products-details">
                                <a href="/home/ProductByStore?storeId=@item.Store_Id&title=@item.Store_Name">
                                    @item.Store_Name
                                </a>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-------------- End sellers -------------->
    <div class="spacer30"></div><!-- Spacer -->
    <!-------------- Start Latest Blog -------------->
    <!-------------- Brand wrapper -------------->
</div>
<!-------------- End wrapper main -------------->
<script type="text/javascript">
    $('a[class="aBtnSelectCategory"]').click(function (event) {
        window.location = "/home/productbycategory?subcatid=" + $(this).attr("hvalue") + "&subcategory-url=rachna-teracotta.htm";
    });
</script>